In [1]:
nums = [1,1,2,3,4,5,6,7,8,9]

In [5]:
my_list = map(lambda n: n*n, nums)

In [6]:
my_list

In [7]:
print(my_list)

<map object at 0x10b8ae278>

In [8]:
my = [n for n in nums if n%2 == 0]

In [9]:
print(my)

[2, 4, 6, 8]

In [10]:
my = [(letter,num) for letter in 'abcd' for num in range(4)]

In [11]:
print(my)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [15]:
my_set = set()
my_set = {n for n in nums}

print(my_set)

In [16]:
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}